{% extends "base.html" %}

{% block content %}
<div class="about-us">
    <div class="hero text-center">
        <h1>About Us</h1>
        <p>Unlock the Best Travel Deals – Your Gateway to Affordable Adventures</p>
    </div>

    <div class="content">
        <div class="section bigger-section">
            <div class="text">
                <h2>EcoTourGuide</h2>
                <p>"Welcome to EcoTourGuide—your trusted travel companion dedicated to uncovering the most cost-effective travel deals across the globe. Founded in 2024, we specialize in connecting you with unbeatable travel opportunities by showcasing the best options available on other trusted platforms. <b>Our platform is where your journey to savings begins!"</b></p>
            </div>
            <img src="/static/home/images/travel1.jpg" alt="About Us Image" class="img-fluid rounded">
        </div>

        <div class="section smaller-section">
            <div class="text">
                <h2>Our Mission</h2>
                <p>Our mission is to make travel affordable and accessible for everyone. By partnering with renowned booking platforms like Booking.com and MakeMyTrip, we ensure that you receive exclusive access to deals that stretch your dollar further. At EcoTourGuide, we don’t just find deals—we open doors to new experiences and lasting memories by directing you to the best economical options available on other websites.</p>
            </div>
            <img src="/static/home/images/travel2.jpg" alt="Mission Image" class="img-fluid rounded">
        </div>
    </div>
</div>
{% endblock %}
