{% extends 'base.html' %}

{% block title %}EcoTour Guide{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Discover the Beauty of Responsible Travel</h1>
            <p>Embark on eco-friendly adventures that protect our planet while immersing you in breathtaking natural wonders. Travel responsibly and create unforgettable memories</p>
        </div>
        <div class="search-bar">
           <div class="search-bar-item">
                <input type="text" placeholder="Search For A Destination">
           </div>
           <button class="search-button">Search</button>
        </div>
    </div>
</div>

<div class="explore-section">
    <h2>Explore Popular Cities</h2>
    <p>Wander into Wonder: Discover Cities that Never Sleep</p>
    <div class="cities">
        <button>New York</button>
        <button>California</button>
        <button>Alaska</button>
        <button>Sidney</button>
        <button>Dubai</button>
        <button>London</button>
        <button>Tokyo</button>
        <button>Delhi</button>
    </div>
</div>
{% endblock %}
