body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    background-image: url('../images/theme_img.png'); /* Replace with the correct path to your image */
    height: 588px;
    width: 200vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.hero-text {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 20px;
    border-radius: 10px;
}

/*.hero-text h1 {*/
/*    font-size: 3em;*/
/*    margin: 0;*/
/*}*/

/*.hero-text p {*/
/*    font-size: 1.2em;*/
/*    margin: 10px 0 0;*/
/*}*/

/*-----------------Home page styling-------------------------*/
.hero-section {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    background-image: url('../images/theme_img.png'); /* Replace with the correct path to your image */
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3rem;
    overflow: hidden;
}

.hero-text {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.hero-text h1 {
    font-size: 2.8em;
    margin-top: 4rem;
}

.hero-text p {
    font-size: 1.1em;
    margin: 10px 50px;
}

.search-bar {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    align-items: center;
    gap: 10px;
    width: 26rem;
    height: 4.3rem;
    margin-top: 20px;
    justify-content: space-between;
    padding: 1.3rem;
    border-radius: 20px;
}

.search-bar-item input {
    padding: 10px;
    background-color: transparent;
    border: none;
    width: 15rem;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 80px;
    background-color: #8F9090;
    color: white;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.search-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values for the desired elevation effect */
    border: none;
}

.search-button:focus {
    outline: none; /* Ensure no outline on focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Maintain elevation effect on focus */
}

.explore-section {
    text-align: center;
    padding: 40px 20px;
}

.explore-section h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.explore-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cities a {
    padding: 10px 20px;
    border: 2px solid #6e9189;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 10px;
    color: #4a4a4a;
    background-color: #f8f9fa;
}

.cities a:hover {
    background-color: #6e9189;
    color: #f8f9fa;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .title-text h1 {
        font-size: 2em;
    }

    .title-text p {
        font-size: 1.1em;
    }
}

@media (max-width: 992px) {
    .title-text h1 {
        font-size: 1.8em;
    }

    .title-text p {
        font-size: 1em;
    }

    .search-bar-item input {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .title-text h1 {
        font-size: 1.6em;
    }

    .title-text p {
        font-size: 0.9em;
    }

    .search-bar {
        flex-direction: column;
        gap: 5px;
    }

    .search-bar-item input {
        width: 100%;
    }

    .search-button {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .hero-image {
        height: 300px;
        background-size: cover;
    }

    .title-text h1 {
        font-size: 1.4em;
    }

    .title-text p {
        font-size: 0.8em;
    }

    .explore-section h2 {
        font-size: 2em;
    }

    .explore-section p {
        font-size: 1em;
    }

    .cities a {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}

 /*Explore page styles*/
/* styles.css */
.container {
    margin: auto;
    padding: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    text-align: center;
}

.pagination {
    margin-top: 20px;
}

.page-link {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.page-link:hover {
    background-color: #f0f0f0;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    background-color: #f0f0f0;
    border-color: #ddd;
    cursor: default;
}

.card-link {
    text-decoration: none;
    color: black;
    display: block;
}

.card-link .card-body {
    pointer-events: none;
}

.card-link .card-body a {
    pointer-events: auto;
    text-decoration: underline;
}

/*-------------------------------- Details page -------------------------------*/

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

.image-grid {
    display: flex;
    margin: 20px;
}

.main-image,
.stacked-images {
    flex: 1;
}

.main-image img {
    width: 60em;
    height: 30em;
    object-fit: cover;
    border-radius: 10px;
}

.stacked-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.stacked-images .stacked-image {
    flex: 1;
    margin-bottom: 20px;
}

.stacked-images .stacked-image:last-child {
    margin-bottom: 0;
}

.stacked-images img {
    width: 30em;
    height: 14em;
    object-fit: cover;
    border-radius: 10px;
}

.overview, .policies {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.facilities i {
    color: #555;
}

.explore-area ul {
    padding-left: 0;
}

.explore-area li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.explore-area li i {
    margin-right: 10px;
}

button {
    font-size: 18px;
}

#mapCanvas {
    height: 400px; /* Adjust the height as needed */
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
}

/*review section of details page*/
.review-tile {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.review-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-content {
    flex: 1;
}
.review-username {
    font-weight: bold;
    margin-bottom: 5px;
}
.review-rating {
    color: #f39c12;
    margin-bottom: 5px;
}
.review-text {
    font-size: 1em;
    color: #333;
}

/*----------------------------------Review form page style-------------------------------------*/
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.review-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.review-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.form-group label {
    font-weight: bold;
}
.form-control {
    border-radius: 8px;
}

/*------ about us page --------------------*/
.hero {
    background: #e0f7fa;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
    color: #00796b;
}

.hero p {
    font-size: 1.2em;
    color: #004d40;
}

.content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    position: relative;
}

.section {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.bigger-section {
    padding: 40px 40px;
    height: 500px;
    z-index: 2;
    background-color: #d7f9db;
    flex-direction: row;
}

.smaller-section {
    padding: 50px 50px;
    height: 400px;
    margin-top: -90px;
    z-index: 300;
    background-color: #C8BEA0;
    width: 75%;
    align-items: center;
    margin-left: 150px;
    flex-direction: row-reverse;
}

.section img {
    width: 50%;
    border-radius: 50px;
    max-height: 100%;
    object-fit: cover;
    border: 3px solid #333333;
}

.section .text {
    padding: 40px;
    max-width: 50%;
}

.section .text h2 {
    font-size: 1.8em;
    color: #333;
}

.section .text p {
    font-size: 1em;
    line-height: 1.3;
    color: #333;
}

.smaller-section .text {
    padding: 12px; /* Adjust padding for better text display */
    max-width: 130%;
}

.smaller-section .text p  {
    font-size:0.9em; /* Adjust font size */
    line-height: 1.0em;
    color: #333;
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
        padding: 20px 0;
    }

    .section .text {
        padding: 20px;
        max-width: 100%;
    }

    .section img {
        width: 100%;
        max-height: 200px;
    }

    .bigger-section, .smaller-section {
        padding: 20px;
        margin-top: 0;
    }

}
