/* Import Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0; /* Change this to the color you want */
  margin: 0; /* Ensure no default margin around the body */
  padding: 0; /* Ensure no default padding around the body */
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 10px;
  height: 60px;
  align-content: center;
  color: #13545e;
}

.navbar-brand img {
  height: 40px;
}

.footer {
  background-color: #13545e;
  padding: 1rem 0;
}

.copy-right {
  background-color: #13545e;
  color: #f8f9fa;
  height: 40px;
  align-content: center;
}

.btn-social {
  background-color: #f8f9fa;
  color: #13545e;
}

.btn-social:hover {
  background-color: #13545e;
  color: #f8f9fa;
}

.navbar-nav .nav-item .nav-link.btn-sign {
  background-color: #13545e;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link.btn-signup {
  border: 1px solid #13545e;
  color: #13545e;
  font-weight: bold;
  border-radius: 20px;
  padding: 7px 15px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.navbar .navbar-nav .nav-link {
  color: #13545e;
}

/*.navbar .navbar-nav .nav-link:hover {*/
/*    color: #13545e;*/
/*    font-weight: bold;*/
/*}*/

/*.navbar-nav .nav-item .nav-link.btn-sign:hover {*/
/*    background-color: #0056b3;*/
/*}*/
