/* Import Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0; /* Change this to the color you want */
  margin: 0; /* Ensure no default margin around the body */
  padding: 0; /* Ensure no default padding around the body */
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 10px;
  height: 60px;
  align-content: center;
  color: #13545e;
}

.navbar-brand img {
  height: 40px;
}

.footer {
  background-color: #13545e;
  padding: 1rem 0;
}

.copy-right {
  background-color: #13545e;
  color: #f8f9fa;
  height: 40px;
  align-content: center;
}

.btn-social {
  background-color: #f8f9fa;
  color: #13545e;
}

.btn-social:hover {
  background-color: #13545e;
  color: #f8f9fa;
}

.navbar-nav .nav-item .nav-link.btn-sign {
  background-color: #13545e;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link.btn-signup {
  border: 1px solid #13545e;
  color: #13545e;
  font-weight: bold;
  border-radius: 20px;
  padding: 7px 15px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.navbar .navbar-nav .nav-link {
  color: #13545e;
}
/* Custom styles for Terms and Policies page */
.terms-box, .privacy-box {
    background-color: #B4CEA8;
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.terms-box ul, .privacy-box ul {
    list-style-type: none;
    padding: 0;
}

.terms-box li, .privacy-box li {
    margin-bottom: 20px;
    line-height: 1.5;
}

.terms-box li strong, .privacy-box li strong {
    display: block;
    margin-bottom: 10px;
}

.terms-box ul ul, .privacy-box ul ul {
    margin-top: 10px;
    margin-left: 20px;
}

.privacy-box ul ul li {
    list-style-type: disc;
}

/* Custom styles for Contact Us page */
.container .contact-form {
    background-color: #B4CEA8;
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
}

.container .contact-form .form-control {
    margin-bottom: 20px;
    border-radius: 5px;
}

.container .contact-form .btn {
    background-color: #A0C591;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.container .contact-image img {
    max-width: 400px;
    margin-left: 20px;
}

/* Custom styles for Support Center */
.list-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; /* Added gap between each item */
}

.cookie-consent-custom-bg {
    background-color: #F7F9FF !important;
}
/*.navbar .navbar-nav .nav-link:hover {*/
/*    color: #13545e;*/
/*    font-weight: bold;*/
/*}*/
.list-group-item {
    background-color: #B4CEA8;
    border: none;
    margin-bottom: 0; /* Removed margin-bottom as gap is managed by the flex container */
    color: #ffffff;
    font-size: 1.1em;
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%; /* Make all boxes equal width */
    max-width: 600px; /* Center and limit the width of the items */
    text-align: center; /* Center text inside the boxes */
}

/*.navbar-nav .nav-item .nav-link.btn-sign:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.filter-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}
.container {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;    /
}

@media (min-width: 576px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.form-group {
    margin-bottom: 10px;
    color: black;

}

.header-text {
    text-align: center;
    margin-top: 15px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #FDFDFD;
    font-family: 'Poppins', sans-serif;

}
.h5 {
    font-size: medium;
    font-family: 'Poppins', sans-serif
}
.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FDFDFD;
    border-radius: 5px;
}

.card-img-top {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card-body {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

/*.pagination .page-item .page-link {*/
/*    color: #007bff;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/

/*.pagination .page-item .page-link:hover {*/
/*    color: #0056b3;*/
/*    text-decoration: none;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/

/*.pagination .page-item.disabled .page-link {*/
/*    color: #6c757d;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/


.list-group-item:hover {
    background-color: #9ab991;
    color: #ffffff;
    text-decoration: none;
}

.text-center img {
    margin-bottom: 20px;
}
/* Custom styles for Support Center */
.list-group-item {
    cursor: pointer;
}

.card-body {
    background-color: #ffffff;
    border: 1px solid #B4CEA8;
    border-top: none;
    padding: 20px;
}

.collapse:not(.show) {
    display: none;
}





.filter-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px; /* Ensure there's space between the filter box and the cards */
}
.container {
    margin-top: 20px;
    padding-left: 5px;  /* Reduce padding on the left */
    padding-right: 5px; /* Reduce padding on the right */
    max-width: 100%;    /* Ensure the container takes full width */
}

@media (min-width: 576px) {
    .container {
        padding-left: 10px; /* Adjust as necessary for small screens */
        padding-right: 10px; /* Adjust as necessary for small screens */
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 15px; /* Adjust as necessary for medium screens */
        padding-right: 15px; /* Adjust as necessary for medium screens */
    }
}

.form-group {
    margin-bottom: 10px;
}

.header-text {
    text-align: center;
    margin-top: 15px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #FDFDFD;
    font-family: 'Poppins', sans-serif;

}
.h5 {
    font-size: medium;
    font-family: 'Poppins', sans-serif
}
.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed */
    background-color: #FDFDFD; /* Ensure there's a background color if needed */
    border-radius: 5px;
}

.card-img-top {
    max-width: 100%;
    max-height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 5px; /* Maintain rounded corners if needed */
}



.card-body {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

.pagination .page-item .page-link {
    color: #007bff;
    font-family: 'Poppins', sans-serif;
}

.pagination .page-item .page-link:hover {
    color: #0056b3;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    font-family: 'Poppins', sans-serif;
}

