{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-6 hero_text">My Profile</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="{% static 'images/default_profile_pic.png' %}" class="rounded-circle mb-3" alt="Profile Picture" width="150" height="150">
                    <h3>{{ user.get_full_name }}</h3>
                    <p>{{ user.userprofile.location }}</p>
                    <p>{{ user.userprofile.date_of_birth }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item profile_list active">Profile Information</li>
                        <li class="list-group-item profile_list"><a href="#">Booking History</a></li>
                        <li class="list-group-item profile_list"><a href="#">Newsletter Subscription</a></li>
                        <li class="list-group-item profile_list"><a href="#">Manage Notifications</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="pInformation">Personal Information</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="ml-3 col-form-label">{{ user_form.first_name.label_tag }}</label>
                            <div class="col-sm-12">
                                {{ user_form.first_name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="ml-3 col-form-label">{{ user_form.last_name.label_tag }}</label>
                            <div class="col-sm-12">
                                {{ user_form.last_name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="ml-3 col-form-label">{{ user_form.email.label_tag }}</label>
                            <div class="col-sm-12">
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="ml-3 col-form-label">{{ profile_form.date_of_birth.label_tag }}</label>
                            <div class="col-sm-12">
                                {{ profile_form.date_of_birth }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="ml-3 col-form-label">{{ profile_form.phone.label_tag }}</label>
                            <div class="col-sm-12">
                                {{ profile_form.phone }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="ml-3 col-form-label">{{ profile_form.location.label_tag }}</label>
                            <div class="col-sm-12">
                                {{ profile_form.location }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Save</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="security_text">Security</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="ml-3 col-form-label">{{ user_form.email.label_tag }}</label>
                            <div class="col-sm-12">
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="ml-3 col-form-label" for="password">Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control field" id="password" name="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="ml-3 col-form-label" for="confirm_password">Confirm Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control field" id="confirm_password" name="confirm_password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
