{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoTourGuide</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Free Rich Icon Library -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'Filter/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'Filter/css/profile.css' %}" rel="stylesheet">
    
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'home/images/logo.png' %}" alt="EcoTourGuide Logo" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore' 1 %}">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn-sign" href="{% url 'authentication:login' %}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-signup" href="{% url 'authentication:signup' %}">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer bg-light text-center text-lg-start mt-auto">
        <div class="container-fluid bg-light text-dark mt-4 py-3">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'home/images/logo.png' %}" alt="EcoTourGuide Logo" style="height: 50px;">
                    </a>
                    <p>Your next goto companion for travel</p>
                </div>
                <div class="col-md-2 mb-3">
                    <h5>About</h5>
                    <ul class="list-unstyled">
                        <li><a href="#", style="color: black">About</a></li>
                        <li><a href="{% url 'contact' %}", style="color: black" >Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mb-3">
                    <h5>Destinations</h5>
                    <ul class="list-unstyled">
                        <li><a href="#", style="color: black">Australia</a></li>
                        <li><a href="#", style="color: black">New Zealand</a></li>
                        <li><a href="#", style="color: black">United States America (USA)</a></li>
                        <li><a href="#", style="color: black">Greece</a></li>
                        <li><a href="#", style="color: black">Maldives</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mb-3">
                    <h5>Legal</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'terms-policies' %}", style="color: black">Privacy Policy</a></li>
                        <li><a href="{% url 'terms-policies' %}", style="color: black">Terms of use</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mb-3">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'support' %}", style="color: black"> Support </a></li>
                    </ul>
                    <a href="#" class="btn btn-outline-dark btn-social mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark btn-social mx-1">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark btn-social mx-1">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-dark text-center py-3" style="background-color: #B4CEA8;">
                &copy; EcoTourGuide 2024
        </div>

    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
